{ 
    Filter = {
        Bundles = (
            "com.apple.Bridge",
            "com.apple.InstalledContentLibrary",
            "com.apple.SharingViewService",
            "com.apple.private.NanoRegistry"
        );
        Executables = (
            "apsd",
            "installd",
            "appconduitd",
            "com.apple.MobileInstallationHelperService",
            "nanoregistryd",
            "identityservicesd"
        );
    };
}
